:root {
  /* ------------COLOUR--------------- */

  /* ----PRIMARY----- */

  --PURPLE: hsl(259, 100%, 65%);
  --LIGHT-RED: hsl(0, 100%, 67%);

  /* ----NEUTRAL----- */

  --WHITE: hsl(0, 0%, 100%);
  --BG-OFF-WHITE: hsl(0, 0%, 94%);
  --LIGHT-GREY: hsl(0, 0%, 86%);
  --SMOKEY-GREY: hsl(0, 1%, 44%);
  --OFF-BLACK: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--BG-OFF-WHITE);
}
